<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.sparksoft.smartguardwatch" >

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity" >
        </activity>
        <activity android:name=".NavigateActivity" >
        </activity>

        <service
            android:name=".Services.FallService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".Services.SmartGuardService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".Services.ChargingService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver android:name=".Listeners.PhoneStateReceiver" >
            <intent-filter android:priority="0" >
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Listeners.BatteryStatus" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SOSActivity"
            android:label="@string/title_activity_sos" >
        </activity>
        <activity
            android:name=".SOSMessageActivity"
            android:label="@string/title_activity_sos" >
        </activity>
        <activity
            android:name=".ComActivity"
            android:label="@string/title_activity_com" >
        </activity>

        <service
            android:name=".Services.AlarmService"
            android:exported="false" >
        </service>

        <activity
            android:name=".AlarmNotificationActivity"
            android:label="@string/title_activity_alarm_notification" >
        </activity>
        <activity
            android:name=".FitnessActivity"
            android:label="@string/title_activity_fitness" >
        </activity>
    </application>

</manifest>
